*{
    box-sizing: border-box;
}
body{
    height: 100vh;
    font-size: 14px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
}
.card{
    margin-top: 2rem;
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    height: 12rem;
    perspective: 500px;
    &__front, &__back{
        width: 16rem;
        height: 10rem;
        border-radius: 10px;
        background: linear-gradient(to top left, #706f6f, #292929);
        padding: 1rem;
        backface-visibility: hidden;
        position: absolute;
        top: 0;
        transition: transform 500ms ease-in-out;
    }
    &__back{
        display: flex;
        align-items: center;
        transform: rotateY(180deg);
        & .cvc {
            height: 1.5rem;
            width: 50%;
            text-align: right;
            background-color: #f8f4d2;
            font-size: 16px;
            padding-right: 0.2rem;
            border-radius: 2px;
        }
    }
}
.front{
    &__header{
        display: flex;
        font-size: 10px;
        justify-content: space-between;
        color: #b3b1b1;
        margin-bottom: 1.5rem;
    }
    &__middle{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 0.5rem;
    }
    &__card-number{
        display: flex;
        justify-content: space-between;
        margin-bottom: 0.5rem;
        border-radius: 4px;
        padding-inline: 0.25rem;
    }
}
.chip{
    width: 1.75rem;
    height: 1.5rem;
    border-radius: 4px;
    background-color: #f8f4d2;
    & svg {
        width: 100%;height: 100%;
    }
}
.wireless svg{
    transform: rotate(90deg);
}
.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 2rem;
    gap: 0.5rem;
    &__holder-name{
        flex-grow: 1;
        border: 1px solid #000;
        height: 100%;
        border-radius: 4px;
        font-size: 12px;
        padding-inline: 0.25rem;
        padding-block: 0.4rem;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    &__expire-date{
        font-size: 12px;
        display: flex;
    }
    &__logo-mastercard{
        display: flex;
        &--red, &--yellow{
            height: 1.75rem;
            width: 1.75rem;
            border-radius: 50%;
        }
        &--red{
            background-color: #eb001b;
            margin-right: -10px;
        }
        &--yellow{
            background-color: #f79e1b;
            mix-blend-mode: hard-light;
        }
    }
}
.form{
    &__input-wrap{
        display: grid;
        margin-bottom: 1rem;
    }
    &__input {
        padding: 8px 15px;
        outline: none;
        &:focus{
            border-color: #000;
        }
    }

    &__footer{
        display: flex;
        justify-content: space-between;
        gap: 0.25rem;
    }
}
select{
    background: none;
}
.to-backface{
    .card__front{
        transform: rotateY(-180deg);
    }
    .card__back {
        transform: rotateY(0deg);
    }
}
.selected {
    background-color:#b3b1b1;
}
.cursor{
    border-bottom: 2px solid #000;
    animation: pulse 1s infinite;
}
@keyframes pulse {
    50% {
        opacity: 0;
    }
}